*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 80%;
    margin: auto;
}
.container h1{
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter;
    margin-top: 1em;
}
label,input{
    display: block;
}
label{
    text-align: center;
    margin: 1em;
}
input{
    margin: auto;
}
form input#num{
    margin-bottom: 1em;
}
.pin-container{
    width: 80%;
    margin: 1em auto;
}
.pin-container .pin{
    border: 2px solid #345;
    padding: 1em;
    border-radius: 10px;
}
.pin p{
    font-weight: bolder;
}